{% extends 'base.html' %}
{% load static %}

{% block  header %} {% include 'header.html' %} {% endblock %}
{% block title %} Устройства вывода {% endblock %}

{% block content %}
    <div class="container">
        <div class="col"><h3>Информация об устройствах вывода</h3></div>
        <div class="row">
            <div class="col">
                <a class="link_wrap" href="{% url 'output_info' %}">
                    <img src="{% static 'img/devices.png' %}">
                </a>
                <a class="link_wrap_for_img" href="{% url 'output_info' %}">Все устройства</a>
            </div>

            <div class="col">
                <a class="link_wrap" href="{% url 'printer_template' %}">
                    <img src="{% static 'img/printer_.png' %}">
                </a>
                <a class="link_wrap_for_img" href="{% url 'printer_template' %}">Принтеры</a>
            </div>

            <div class="col">
                <a class="link_wrap" href="">
                    <img src="{% static 'img/monitor.png' %}">
                </a>
                <a class="link_wrap_for_img" href="">Мониторы</a>
            </div>

            <div class="col">
                <a class="link_wrap" href="">
                    <img src="{% static 'img/devices.png' %}">
                </a>
                <a class="link_wrap_for_img" href="">Гарнитуры</a>
            </div>

            <div class="col">
                <a class="link_wrap" href="">
                    <img src="{% static 'img/devices.png' %}">
                </a>
                <a class="link_wrap_for_img" href="">Колонки</a>
            </div>
        </div>
    </div>
{% endblock %}