{% extends 'base.html' %}
{% load static %}
    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

     {% block title %}Главная{% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">

{#                <div class="col">#}
{#                   <a class="link_wrap" href="#"><img src="{% static 'img/keyboard.png' %}"></a>#}
{#                    <a class="link_wrap_for_img" href="#">Устройства ввода</a>#}
{#                </div>#}

                 <div class="col">
                     <a class="link_wrap" href="{% url 'output' %}"><img src="{% static 'img/graphicdesig.png' %}"></a>
                     <a class="link_wrap_for_img" href="{% url 'output' %}">Перифирийные устройства</a>
                </div>

            </div>
        </div>
    {% endblock %}
