{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Подробная информация о принтере{% endblock %}

    {% block content %}
         <br>
        <div class="container">


            <h5>Информация о картридже с серийным номером: <strong class='serialNumber'>{{ cd.serialNumber }}</strong> </h5>
            <div class="row">
                <div class="col">
                        <p><strong>Категория:</strong> {{ cd.catrigeModel.category.name }}</p>
                        <p><strong>Модель картриджа:</strong> {{ cd.catrigeModel.name }}</p>
                        <p><strong>Цвет:</strong> {{ cd.catrigeModel.color.name }}</p>
                        <p><strong>Производитель:</strong> {{ cd.catrigeModel.firm.name }}</p>



                </div>
               <div class="col">
                     {%  if pd.PrinterModel.img %}
                        <img  class="img-printer_detile" src="{{ pd.PrinterModel.image.url }}"  alt="...">
                     {% else %}
                        <img  src="{% static 'img/print.png' %}" class="card-img" alt="...">
                     {% endif %}
                </div>
                </div>
        </div>
    {% endblock %}
