Django==3.1.4
django-appconf==1.0.4
django-autocomplete-light==3.8.1
django-debug-toolbar==3.2
django-durationwidget==1.0.5
django-filter==2.4.0
-e git+https://github.com/django-import-export/django-import-export.git@bf4a51d29a88082dc62789f2dd7e9d9d20462498#egg=django_import_export
django-select2==7.6.1
Pillow==8.1.0
pipenv==2020.8.13
psycopg2==2.8.6
pylint==2.6.0
pytz==2020.4
sqlparse==0.4.1
tablib==3.0.0
toml==0.10.2
