{% extends 'base.html' %}
{% load static %}
{% load mainapp_tags %}

{% block  header %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}Список аналитики мониторов{% endblock %}
{% block content %}
    <div class="container">
        <h3 class="List-title">Список аналитики мониторов</h3>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade in show" role="alert">
                    {{ message|safe }}
                    <button class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col">
                <p class="count">Общее колличество: {{ total_count }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="{% url 'monitor_analytics_list' %}" method="GET" class="form-inline my-4">
                    <input class="form-control mr-2" name="serialNumber" type="search" placeholder="По серийному номеру"
                           aria-label="Search">
                    <select name="control_period" class="custom-select mr-2" style="width: auto !important;">
                        <option value="" selected="">Контрольный период диагностики</option>
                        {% for control_period in control_periods %}
                            <option value="{{ control_period.pk }}">{{ control_period.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Показать</button>
                </form>
            </div>
        </div>

        <form action="{% url 'export_monitor_analytics' %}" method="GET" class="form-inline">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                Выгрузить аналитику
            </button>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>Серийный номер</th>
                <th>Дата последней диагностики</th>
                <th>Дата плановой диагности</th>
                <th>Период диагностикики</th>
                <th>Осталось дней</th>
                <th scope="col">Действие</th>
            </tr>
            {% for object in object_list %}
                <tbody>
                <tr>
                    <td>
                        <a href="{% url 'monitor_detail' pk=object.pk %}">
                            {{ object.serialNumber }}
                        </a>
                    </td>
                    <td>
                        {% if object.date_of_last_diagnostics %}
                            {{ object.date_of_last_diagnostics|date:"d.m.Y" }}
                        {% else %}
                            -----
                        {% endif %}
                    </td>
                    <td>
                        {% if object.date_of_planned_diagnostics %}
                            {{ object.date_of_planned_diagnostics|date:"d.m.Y" }}
                        {% else %}
                            -----
                        {% endif %}
                    </td>
                    <td>
                        {% if object.period_of_product_diagnostics %}
                            {{ object.period_of_product_diagnostics.period.days }}
                        {% else %}
                            -----
                        {% endif %}
                    </td>
                    <td>
                        {% if object.days_remain_to_diagnostics.days %}
                            {% test_days_to_diagnostics_remain days=object.days_remain_to_diagnostics.days period=object.period_of_product_diagnostics.period.days as badge %}
                            <span class="badge {{ badge }}">
                        {{ object.days_remain_to_diagnostics.days }}
                        </span>
                        {% else %}
                            -----
                        {% endif %}
                    </td>
                    <td><a href="{% url 'monitor_analytics_update' pk=object.pk %}">Изменить</a></td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}