{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'login.html' %}
    {% endblock %}

        {% block title %}
            Добро пожаловать
        {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
               <h4>Добро пожаловать на сайт InvWeb </h4>
            </div>
             <div class="wrap-card">
            <div class="container">
                <div class="row">

                </div>
            </div>
            </div>

        </div>
    {% endblock %}
    {% block footer %}

    {% endblock %}