{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'login.html' %}
    {% endblock %}

        {% block title %}
            Добро пожаловать
        {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col"><div class="col"><h5 class="zag">Добро пожаловать на сайт InvWeb  </h5></div>
                    <p>Сайт предназначен для учета перефирийного оборудования на предприятии</p>
                </div>
            </div>
        </div>
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <img class="img_main" src="{% static "img/pc_periferiya.jpg" %}">
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer %}

    {% endblock %}