{% extends 'base.html' %}
{% load static %}
{% block  header %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}Журнал картриджей{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"><h2>Журнал картриджей</h2></div>
            <div class="col"></div>
            <div class="col">
                <nav class="navbar navbar-light">
                    <form action="{% url 'cartridge_scheduler_list' %}" class="form-inline">
                        <input name="serialNumber" class="form-control mr-sm-2"
                               type="search" placeholder="Серийный номер"
                               aria-label="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Номер заявки</th>
                    <th scope="col">Серийный номер</th>
                    <th scope="col">Модель</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Пользователь</th>
                </tr>
                </thead>
                <tbody>
                {% for scheduler in object_list %}
                    <tr>
                        <td>{{ scheduler.number }}</td>
                        <td>{{ scheduler.device.serialNumber }}</td>
                        <td>{{ scheduler.device.model.name }}</td>
                        <td>{{ scheduler.status.name }}</td>
                        <td>{{ scheduler.date|date:"d.m.Y" }}</td>
                        <td>{{ scheduler.person.firstName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}