{% extends 'base.html' %}
{% load static %}

{% block  header %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}Подробная информация журнала принтеров{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h5>Информация о принтере с серийным номером: <strong class='serialNumber'>{{ object.serialNumber }}</strong></h5>
        <div class="row">

            <div class="col">

<!--                <p><strong>Тип принтера:</strong> {{ object.model.type }}</p>-->
<!--                <p><strong>Имя принтера:</strong> {{ object.name }}</p>-->
<!--                <p><strong>Ip-адресс:</strong> {{ object.ip }}</p>-->
<!--                <p><strong>Производитель:</strong> {{ object.model.firm.name }}</p>-->
<!--                <p><strong>Модель принтера:</strong> {{ object.model.name }}</p>-->
<!--                <p><strong>Титул:</strong> {{ object.location.titul.name }} </p>-->
<!--                <p><strong>Кабинет:</strong> {{ object.location.number }} </p>-->
<!--                <p><strong>Статус:</strong> {{ object.status.name }} </p>-->
<!--                <p><strong>Описание:</strong> {{ object.description}} </p>-->


            </div>
            <div class="col">
                {% if object.model.img %}
                    <img class="printer_img" src="{{ object.model.img.url }}" alt="...">
                {% else %}
                    <img src="{% static 'img/print.png' %}" class="card-img" alt="...">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
