{% extends 'base.html' %}
{% load static %}

{% block  header %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}Добавление устройств{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">

{#                {{ form }}#}
                {% csrf_token %}
                <label>Категория</label>
                {{ form}}

            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
{% endblock %}
{% block js %}
    <script src="{% static "js/createOutputFromCategory.js" %}" defer></script>
{% endblock js %}