{% extends 'base.html' %}
{% load static %}

{% block  header %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}Список устройств{% endblock %}
{% block content %}
    <div class="container">
        <h3 class="List-title">Список устройств</h3>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <nav class="navbar navbar-light">
                    <form action="{% url 'printer_list' %}" method="get" class="form-inline">
                        <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <a href="{% url 'outputsCreateTemplateView' %}">Добавить</a>
        <table class="table">
            <thead>
            <tr>
                <th>Серийный номер</th>
                <th>Тип устройства</th>
                <th>Модель </th>
                <th>Производитель</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
            {% for output in monitors %}
            <tbody>
                <tr>
                    <td><a href="{% url 'monitorDetile' pk=output.pk %}"> {{ output.serialNumber }}</a></td>
                    <td>{{ output.model.category }}</td>
                    <td>{{ output.model }}</td>
                    <td>{{ output.model.firm }}</td>
                    <td>{{ output.get_status_display }}</td>
                    <td>
                        <a href="{% url 'updateMonitor' pk=output.pk  %}">Изменить</a>
                        <a href="{% url 'monitorDelete' pk=output.pk %}">Удалить</a>
                    </td>

                </tr>
            </tbody>
            {% endfor %}

            {% for output in headsets %}
            <tbody>
                <tr>
                    <td>{{ output.serialNumber }}</td>
                    <td>{{ output.model.category }}</td>
                    <td>{{ output.model }}</td>
                    <td>{{ output.model.firm }}</td>
                    <td>{{ output.status }}</td>
                    <td>
                        <a href="#">Изменить</a>
                        <a href="#">Удалить</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}

            {% for output in speakers %}
            <tbody>
                <tr>
                    <td>{{ output.serialNumber }}</td>
                    <td>{{ output.model.category }}</td>
                    <td>{{ output.model }}</td>
                    <td>{{ output.model.firm }}</td>

                    <td>
                        <a href="#">Изменить</a>
                        <a href="#">Удалить</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}

              {% for output in printers %}
            <tbody>
                <tr>
                    <td>{{ output.serialNumber }}</td>
                    <td>{{ output.printerModel.category }}</td>
                    <td>{{ output.printerModel }}</td>
                    <td>{{ output.printerModel.firm }}</td>
                     <td>{{ output.status }}</td>

                    <td>
                        <a href="#">Изменить</a>
                        <a href="#">Удалить</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}






        </table>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}