{% extends 'base.html' %}
{% load static %}

{% block  header %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}Список принтеров{% endblock %}
{% block content %}
    <div class="container">
        <h3 class="List-title">Список принтеров</h3>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade in show" role="alert">
                    {{ message|safe }}
                    <button class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}


        <div class="row">
            <div class="col">
                 <a href="{% url 'printer_info' %}"> Назад</a>
                <form action="{% url 'printer_list' %}" method="GET" class="form-inline my-4">
                    <input class="form-control mr-2"
                           name="serialNumber"
                           type="search"
                           placeholder="По серийному номеру"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Показать</button>
                </form>
            </div>
        </div>

        <a href="{% url 'printer_create' %}">Добавить</a>
        <div class="table-responsive">
            <table class="table text-nowrap">
                <thead>
                <tr>
                    <th>Серийный номер</th>
                    <th>Категория</th>
                    <th>Модель</th>
                    <th>Производитель</th>
                    <th>Статус</th>
                    <th>Действие</th>
                </tr>
                {% for object in object_list %}
                    <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'printer_detail' pk=object.pk %}">{{ object.serialNumber }}</a>
                        </td>
                        <td>{{ object.model.category }}</td>
                        <td>{{ object.model }}</td>
                        <td>{{ object.model.firm }}</td>
                        <td>
                            {% if object.status %}
                                {{ object.status }}
                            {% else %}
                                -----
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'printer_update' pk=object.pk %}">Изменить</a>
                            <a href="{% url 'printer_delete' pk=object.pk %}">Удалить</a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>

            {% if is_paginated %}
          <nav aria-label="Page navigation conatiner"></nav>
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Предыдущая страница</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Следующая страница &raquo;</a></li>

            {% endif %}
          </ul>
          </nav>

        {% endif %}






        </div>
    </div>


{% endblock %}




{% block footer %}

{% endblock %}




























