{% extends 'base.html' %}
{% load static %}
{% block  header %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="col"> <h5>Обновить данные принтера <span class="serialNumber">{{  pu.serialNumber }}</span></h5></div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade in show" role="alert">
                    {{ message|safe }}
                    <button class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            <div class="row">
                {% csrf_token %}
                <div class="col">
                    <label>Статус</label>
                    {{ form.status }}
                    <label>Место расположение</label>
                    {{ form.location }}
                        <label>Описание</label>
                        {{ form.description }}
                </div>
                <div class="col">
                    <label>Картриджи</label>
                    <div class="alert alert-success">
                        При добавлении картриджа в принтер его статус поменяется с <strong>В резерве</strong> на
                        <strong>В работе</strong>.
                    </div>
                    <div class="alert alert-danger">
                        При удалении из принтера картриджа его статус поменяется с <strong>В работе</strong> на <strong>На
                        заправку</strong>.
                    </div>
                    {{ form.black_cartridge }}
                    {{ form.blue_cartridge }}
                    {{ form.yellow_cartridge }}
                    {{ form.purple_cartridge }}
                </div>

            </div>
            {{ form.errors }}
            <button class="btn btn-outline-secondary">Сохранить</button>
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ form.media }}
{% endblock js %}
