{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Подробная информация о принтере{% endblock %}

    {% block content %}
         <br>
        <div class="container">

            <h5>Информация о принтере с серийным номером: <strong class='serialNumber'>{{ pd.serialNumber }}</strong> </h5>
            <div class="row">

                <div class="col">
                        <p><strong>Тип принтера:</strong> {{ pd.printerModel.printerType }}</p>
                        <p><strong>Имя принтера:</strong> {{ pd.name }}</p>
                        <p><strong>Ip-адресс:</strong> {{ pd.ip }}</p>
                        <p><strong>Производитель:</strong> {{ pd.printerModel.firm.name}}</p>
                        <p><strong>Модель принтера:</strong> {{ pd.printerModel.name }}</p>
                        <p><strong>Титул:</strong> {{ pd.location.titul.name }} </p>
                        <p><strong>Статус:</strong> {{ pd.status.name }} </p>

                </div>
                <div class="col">
                     {%  if pd.printerModel.img %}
                        <img  class="img-printer_detail" src="{{ pd.printerModel.img.url }}"  alt="...">
                     {% else %}
                        <img  src="{% static 'img/print.png' %}" class="card-img" alt="...">
                     {% endif %}
                </div>
                </div>
        </div>
    {% endblock %}
