{% extends 'base.html' %}
{% load static %}
    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

     {% block title %}Список принтеров {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
            <a href="{% url 'create_printer_scheduler' %}">Добавить</a>
           <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Номер</th>
                      <th scope="col">Серийный номер</th>
                      <th scope="col">Модель</th>
                      <th scope="col">Статус</th>
                      <th scope="col">Титул</th>
                      <th scope="col">Кабинет</th>
                      <th scope="col">Дата</th>
                    </tr>
                  </thead>
                      <tbody>
                      {% for p in  psl %}
                       <tr>
                         <td>  {{ p.uuid }}</td>
                         <td>{{ p.printer.serialNumber }}</td>
                         <td>{{ p.printer.printerModel.name }}</td>
                         <td>{{ p.printerStatus.name}}</td>
                         <td>{{ p.location.titul }}</td>
                         <td>{{ p.location.number }}</td>
                         <td>{{ p.date}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
</table>
            </div>
        </div>
    {% endblock %}