{% extends 'base.html' %}
{% load static %}
    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

     {% block title %}Список принтеров {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">

                <div class="col"> <a class="add_" href="{% url 'printer_create' %}">Добавить</a></div>


                 <nav class="navbar navbar-light">
                         <form action="#" method="get" class="form-inline">
                             <input  name="search" class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                             <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Найти</button>
                        </form>
                 </nav>








           <table class="table">
                  <thead>
                    <tr>
                        <th scope="col">Серийный номер</th>
                      <th scope="col">Модель</th>
                        <th scope="col">Имя</th>
                      <th scope="col">Статус</th>
                      <th scope="col">Действие</th>
                    </tr>
                  </thead>
                      <tbody>
                      {% for p in  pl %}
                       <tr>
                          <td> <a href="{% url 'printer_detail' pk=p.pk  %}" >{{ p.serialNumber }}</a></td>
                          <td>{{ p.printerModel.name }}</td>
                          <td>{{ p.name }}</td>
                          <td>{{ p.status.name }}</td>
                          <td><a href="{% url 'printer_update' pk=p.pk %}">Изменить</a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
</table>
            </div>
        </div>
    {% endblock %}