{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block content %}

        <div class="container">
            <div class="row">
                 <h3 class="List-title">Список принтеров</h3>
            </div>
        </div>
            <div class="container">

            </div>

        <div class="container">
            <div class="row">
             <div class="col"><div class="col"><p class="count">Общее колличество: {{ pl.count }}</p> </div></div>
            <div class="col"></div>
        <div class="col">
            <nav class="navbar navbar-light">
                 <form action="{% url 'printer_list' %}" method="get" class="form-inline">
                     <input  name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
        </div>


        </div>
            <div class="container">
                <a href="{% url 'printer_create' %}">Добавить</a>
                <table class="table">
                      <thead>
                      <tr>
                          <th> Серийный номер</th>
                          <th> Имя принтера</th>
                              <th>Модель принтера</th>
                              <th>Производитель</th>
                              <th scope="col">Действие</th>

                           </tr>
                    {% for prtinter in pl %}
                              <tbody>
                                <tr>
                                    <td><a href="{% url 'printer_detail' pk=prtinter.pk %}">{{ prtinter.serialNumber}}</a> </td>
                                    <td>{{ prtinter.name }}</td>
                                    <td>{{ prtinter.printerModel.name }}</td>
                                    <td>{{ prtinter.printerModel.firm.name }}</td>
                                    <td><a href="{% url 'printer_update' pk=prtinter.pk %}">Изменить</a></td>
                                </tr>
                              </tbody>
                    {% endfor %}
                </table>
            </div>



    {% endblock %}
    {% block footer %}

    {% endblock %}





























{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#    {% block  header%}#}
{#        {% include 'header.html' %}#}
{#    {% endblock %}#}
{##}
{#     {% block title %}Список принтеров {% endblock %}#}
{##}
{#    {% block content %}#}
{##}
{#        <div class="container">#}
{##}
{#            <div class="row">#}
{##}
{#                <div class="col"><div class="col"><h4 class="list_tutle">Список принтеров</h4></div></div>#}
{#                <div class="col"></div>#}
{#                <div class="col">#}
{#                   <form>#}
{#                        <div class="col"><input class="search" id="changelist-search" type="text"></div>#}
{##}
{#                   </form>#}
{#                </div>#}
{##}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col">#}
{#                        <a class="add" href="{% url 'printer_create' %}">Добавить</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#           <table class="table">#}
{##}
{#                  <thead>#}
{#                    <tr>#}
{#                        <th scope="col">Серийный номер</th>#}
{#                      <th scope="col">Модель</th>#}
{#                        <th scope="col">Имя</th>#}
{#                      <th scope="col">Статус</th>#}
{#                      <th scope="col">Действие</th>#}
{#                    </tr>#}
{#                  </thead>#}
{#                      <tbody>#}
{#                      {% for p in  pl %}#}
{#                          #}
{#                       <tr>#}
{#                          <td> <a href="{% url 'printer_detail' pk=p.pk  %}" >{{ p.serialNumber }}</a></td>#}
{#                          <td>{{ p.printerModel.name }}</td>#}
{#                          <td>{{ p.name }}</td>#}
{#                          <td>{{ p.status.name }}</td>#}
{#                          <td><a href="{% url 'printer_update' pk=p.pk %}">Изменить</a></td>#}
{#                        </tr>#}
{#                      {% endfor %}#}
{#                      </tbody>#}
{#</table>#}
{##}
{##}
{##}
{#            </div>#}
{#        </div>#}
{#    {% endblock %}#}