{% extends 'base.html' %}
{% load static %}
    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

     {% block title %}Добавить принтер{% endblock %}

    {% block content %}
        <div class="container">
            <br>
            <h5>Добавить принтер в список</h5>
            <div class="row">
                 <form method="post">
                        {% csrf_token %}
                          <label>Модель принтера</label>
                            {{ form.printerModel }}
                          <label>Серийный номер</label>
                            {{ form.serialNumber }}
                          <label>Имя</label>
                            {{ form.name }}
                          <label>ip адрес</label>
                            {{ form.ip }}
                          <label>Статус</label>
                            {{ form.status }}
                        <br>
                        <button class="btn btn-outline-secondary">Сохранить</button>
                 </form>
            </div>
        </div>
    {% endblock %}
