{% extends 'base.html' %}
{% load static %}

{% block title %}Добавление монитора{% endblock %}

{% block content %}
        <div class="container">
            <h5>Добавить монитор в список</h5>
            <div class="row">
              <div class="col">
                <form method="post">
                    {% csrf_token %}
                    <br>
                      <label>Модель монитора</label>
                        {{ form.model}}
                    <br>
                      <label>Серийный номер</label>
                        {{ form.serialNumber }}
                    <br>
                    <label>Статус</label>
                        {{ form.status }}
                    <br>
                  <button class="btn btn-outline-secondary">Сохранить</button>
                </form>
              </div>
                
            </div>
        </div>
    {% endblock %}
{% block footer %}
{% endblock %}