{% extends 'base.html' %}
{% load static %}

    {% block  header%} {% include 'header.html' %} {% endblock %}
     {% block title %}Информация о принтерах{% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col"><h4>Информация об устройствах</h4></div>
            </div>
        </div>
        <div class="container">
         <div class="row">

            <div class="col">
                <a class="link_wrap" href="{% url 'output_list' %}"><img src="{% static 'img/checklist.png' %}"></a>
                <a class="link_wrap_for_img" href="#">Список устройств</a>
            </div>


              <div class="col">
                <a class="link_wrap" href="{% url 'devices_sheduler_list' %}"><img src="{% static 'img/jurnal.png' %}"></a>
                <a class="link_wrap_for_img" href="#">Журнал устройств</a>
              </div>

            </div>
        </div>
    {% endblock %}