{% extends 'base.html' %}
{% load static %}

{% block  header %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}Список устройств вывода{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="List-title">Список устройств вывода</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <form action="" method="GET" class="form-inline my-4">

                    <input class="form-control mr-2" name="serialNumber" type="search" placeholder="По серийному номеру"
                           aria-label="Search">


                    <select name="control_period" class="custom-select mr-2" style="width: auto !important;">
                        <option value="" selected="">Контрольный период диагностики</option>
                        {% for control_period in control_periods %}
                            <option value="{{ control_period.pk }}">{{ control_period.name }}</option>
                        {% endfor %}
                    </select>

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Показать</button>
                </form>
            </div>
        </div>


        <a href="{% url 'devicesCreateTemplateView' %}">Добавить</a>
        <div class="table-responsive">
            <table class="table text-nowrap">
                <thead>
                <tr>
                    <th>Серийный номер</th>
                    <th>Категория</th>
                    <th>Модель</th>
                    <th>Производитель</th>
                    <th>Статус</th>
                    <th>Дата последней диагностики</th>
                    <th>Период диагностики</th>
                    <th>Действие</th>
                </tr>
                {% for device in devices %}
                    <tbody>
                    <tr>
                        <td>{{ device.serialNumber }}</td>
                        <td>{{ device.model.category }}</td>
                        <td>{{ device.model }}</td>
                        <td>{{ device.model.firm }}</td>
                        <td>{{ device.get_status_display }}</td>
                        <td>{{ device.date_of_last_diagnostics|date:"Y-m-d" }}</td>
                        <td>{{ device.period_of_product_diagnostics }}</td>
                        <td>
                            <a href="#">Изменить</a>
                            <a href="#">Удалить</a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}