{% extends 'base.html' %}
{% load static %}

{% block  header %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}Журнал устройств{% endblock %}
{% block content %}
    <div class="container">
        <h3 class="List-title">Журнал устройств</h3>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <nav class="navbar navbar-light">
                    <form action="{% url 'printer_list' %}" method="get" class="form-inline">
                        <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Серийный номер</th>
                <th>Категория</th>
                <th>Модель </th>
                <th>Производитель</th>
                <th>Статус</th>
                <th>Дата</th>
            </tr>

            {% for output in monitors %}
            <tbody>
                <tr>
                    <td>{{ output.monitor }}</td>
                    <td>{{ output.monitor.model.category }}</td>
                    <td>{{ output.monitor.model }}</td>
                    <td>{{ output.monitor.model.firm }}</td>
                     <td>{{ output.monitor.get_status_display }}</td>
                    <td>{{ output.date }}</td>
                    <td>
                    </td>
                </tr>
            </tbody>
            {% endfor %}

             {% for output in printers %}
                    <tbody>
                        <tr>
                            <td>{{ output.printer }} </td>
                            <td>{{ output.printer.printerModel.category }} </td>
                            <td>{{ output.printer.printerModel }} </td>
                            <td>{{ output.printer.printerModel.firm }} </td>
                            <td>{{ output.printer.status }} </td>
                            <td>{{ output.date }} </td>

                        </tr>
                    </tbody>
            {% endfor %}



            {% for output in headsets %}
            <tbody>
                <tr>
                    <td>{{ output.serialNumber }}</td>
                    <td>{{ output.model.category }}</td>
                    <td>{{ output.model }}</td>
                    <td>{{ output.model.firm }}</td>
                </tr>
            </tbody>
            {% endfor %}

            {% for output in speakers %}
            <tbody>
                <tr>
                    <td>{{ output.serialNumber }}</td>
                    <td>{{ output.model.category }}</td>
                    <td>{{ output.model }}</td>
                    <td>{{ output.model.firm }}</td>
                     <td> <a href="#">Изменить</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}