{% extends 'base.html' %}
{% load static %}

{% block title %}Добавление устройств{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col">
                {% csrf_token %}
                <br>
                <h3>Выберите устройство для добавление в список</h3>
                <label>Категория</label>
                {{ form.categories}}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    <script src="{% static  "js/createOutputFromCategory.js" %}" defer> </script>
{% endblock js %}