{% extends 'base.html' %}
{% load static %}

    {% block  header%} {% include 'header.html' %} {% endblock %}
     {% block title %}Информация о принтерах{% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col"><h4>Информация об мониторах</h4></div>
            </div>
        </div>
        <div class="container">
         <div class="row">

            <div class="col">
                <a class="link_wrap" href="#"><img src="{% static 'img/checklist.png' %}"></a>
                <a class="link_wrap_for_img" href="#">Список гарнитур</a>
            </div>


              <div class="col">
                <a class="link_wrap" href="{% url 'devices_scheduler_list' %}"><img src="{% static 'img/jurnal.png' %}"></a>
                <a class="link_wrap_for_img" href="#">Журнал гарнитур</a>
              </div>

            </div>
        </div>
    {% endblock %}