{% extends 'base.html' %}
{% load static %}
    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

     {% block title %}{% endblock %}

    {% block content %}

        <div class="wrap_zag">
            <div class="container">
                <div class="row">
                    <div class="col">
                         <div class="col"> <h5>Обновить данные монитора  <span class="serialNumber">{{ cu.serialNumber }}</span></h5></div>
                    </div>
                </div>
            </div>
        </div>
                     <form method="post">
                        {% csrf_token %}

                     <div class="container">
                             <div class="row">
                                    <div class="col-5">
                                        <label>Статус</label>
                                            {{form.status}}
                                        <br>
                                         <label>Пользователь</label>
                                            {{ form.person }}
                                        <label>Номер заявки в техническую поддержку</label>
                                         {{ form.number }}
                                        <br>
                                         <label>Месторасположение</label>
                                        {{ form.location }}
                                         <br>
                                    </div>
                                        <br>
                                             <div  class="col-6">
                                                 <label>Описание</label>
                                                 {{ form.description }}
                                             </div>
                                 <div class="col"> <button class="btn btn-outline-secondary">Сохранить</button></div>
                             </div>

                     </div>

                 </form>

{% endblock %}

{% block js %}
    {{ form.media }}
{% endblock js %}
