{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Подробная информация о принтере{% endblock %}

    {% block content %}
         <br>
        <div class="container">


            <h5>Информация о картридже с серийным номером: <strong class='serialNumber'>{{ cd.serialNumber }}</strong> </h5>
            <div class="row">
                <div class="col">
                        <p><strong>Категория:</strong> {{ cd.cartridgeModel.category.name }}</p>
                        <p><strong>Модель картриджа:</strong> {{ cd.cartridgeModel.name }}</p>
                        <p><strong>Цвет:</strong> {{ cd.cartridgeModel.get_color_display}}</p>
                        <p><strong>Производитель:</strong> {{ cd.cartridgeModel.firm.name }}</p>
                        <p><strong>Пользователь:</strong> {{ cd.person.firstName }}
                                                          {{ cd.person.lastName }}
                                                          {{ cd.person.fatherName }}
                        </p>



                </div>
               <div class="col">
                     {%  if pd.PrinterModel.img %}
                        <img  class="img-printer_detile" src="{{ pd.PrinterModel.image.url }}"  alt="...">
                     {% else %}
                        <img  src="{% static 'img/print.png' %}" class="card-img" alt="...">
                     {% endif %}
                </div>
                </div>
        </div>
    {% endblock %}
