{% extends 'base.html' %}
{% load static %}
{% block  header %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}Удаление колонок{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{% url 'speakers_list' %}">назад</a>
                <form method="POST">
                    {% csrf_token %}
                    <p class="message">Вы действительно хотите удалить колонки?
                        <strong class='serialNumber'> {{ object.serialNumber }}</strong>
                    </p>
                    <button type="submit" class="btn btn-outline-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}